Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

Add extraform agent guide (SKILL.md + advanced.md)
  extraform/docs/agent-guide/SKILL.md
  extraform/docs/agent-guide/advanced.md
Due: none

Add changelogs and publish workflow for initial PyPI releases
  .github/workflows/publish-extraform.yml
  extradoc/CHANGELOG.md
  extrasheet/CHANGELOG.md
  extraslide/CHANGELOG.md
Due: none

Add changelogs for extraform and extrascript v0.1.0 releases
  extraform/CHANGELOG.md
  extrascript/CHANGELOG.md
Due: none

Update extrasheet agent guide with newly supported features
  extrasheet/docs/agent-guide/SKILL.md
  extrasheet/docs/agent-guide/formatting.md
Due: none

Make CLI stateless: remove login/logout, add per-command auth flags
  CLAUDE.md
  client/CLAUDE.md
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
Due: none

Invert dependency: extrasuite CLI now depends on individual modules
  client/pyproject.toml
  client/src/extrasuite/client/__main__.py
  client/uv.lock
  extradoc/pyproject.toml
  extradoc/src/extradoc/__init__.py
  extradoc/src/extradoc/__main__.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/transport.py
  extradoc/tests/test_block_indexer.py
  extradoc/tests/test_engine.py
  extradoc/uv.lock
  extraform/pyproject.toml
  extraform/src/extraform/__main__.py
  extraform/src/extraform/request_generator.py
  extraform/uv.lock
  extrascript/pyproject.toml
  extrascript/src/extrascript/__init__.py
  extrascript/src/extrascript/__main__.py
  extrascript/src/extrascript/client.py
  extrascript/src/extrascript/transport.py
  extrascript/tests/conftest.py
  extrascript/tests/test_cli.py
  extrascript/uv.lock
  extrasheet/pyproject.toml
  extrasheet/src/extrasheet/__main__.py
  extrasheet/tests/test_diff.py
  extrasheet/uv.lock
  extraslide/pyproject.toml
  extraslide/src/extraslide/__main__.py
  extraslide/uv.lock
Due: mypy, mypy-extradoc

Bump individual modules to v0.2.0 for dependency inversion release
  extradoc/CHANGELOG.md
  extradoc/pyproject.toml
  extraform/CHANGELOG.md
  extraform/pyproject.toml
  extrascript/CHANGELOG.md
  extrascript/pyproject.toml
  extrasheet/CHANGELOG.md
  extrasheet/pyproject.toml
  extraslide/CHANGELOG.md
  extraslide/pyproject.toml
Due: none

Bump extrasuite to v0.5.0 with unified CLI and stateless auth
  client/CHANGELOG.md
  client/pyproject.toml
Due: none

Bump all modules to v0.2.1 and extrasuite to v0.5.1 for PyPI re-publish
  client/pyproject.toml
  extradoc/pyproject.toml
  extraform/pyproject.toml
  extrascript/pyproject.toml
  extrasheet/pyproject.toml
  extraslide/pyproject.toml
  server/skills/extradoc/SKILL.md
  server/skills/extradoc/date-time.md
  server/skills/extradoc/style-reference.md
  server/skills/extradoc/troubleshooting.md
  server/skills/extraform/SKILL.md
  server/skills/extraform/advanced.md
  server/skills/extrasheet/SKILL.md
  server/skills/extrasheet/batchupdate.md
  server/skills/extrasheet/features.md
  server/skills/extrasheet/formatting.md
  server/skills/gsheetx/SKILL.md
  server/skills/gsheetx/checks.py
  server/skills/gsheetx/credentials.py
  server/skills/gsheetx/gsheet_utils.py
  server/skills/gsheetx/requirements.txt
  server/skills/gsheetx/verify_access.py
Due: pyright

Fix form pull bug and update skill CLI commands to uvx extrasuite
  client/src/extrasuite/client/cli.py
  server/skills/extradoc/SKILL.md
  server/skills/extradoc/troubleshooting.md
  server/skills/extraform/SKILL.md
  server/skills/extrasheet/SKILL.md
  server/skills/extrasheet/batchupdate.md
Due: none

Bump extrasuite to v0.5.2
  client/pyproject.toml
Due: none

Update client uv.lock for v0.5.2
  client/uv.lock
Due: none

Update install scripts: simplify gateway.json and cleanup old gsheetx skill
  server/src/extrasuite/server/static/install.ps1
  server/src/extrasuite/server/static/install.sh
Due: none

Add inline comment-ref tags for Google Docs comments
  client/src/extrasuite/client/cli.py
  extradoc/src/extradoc/block_indexer.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments_converter.py
  extradoc/src/extradoc/transport.py
  extradoc/src/extradoc/xml_converter.py
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs_comments.json
  extradoc/tests/test_comment_ref_injection.py
  extradoc/tests/test_comments_converter.py
  extradoc/uv.lock
  server/skills/extradoc/SKILL.md
Due: mypy-extradoc

Document comment-ref spurious diff bug
  extradoc/docs/comment-causes-insertion-deletion.md
Due: none

Fix comment-ref bugs and mark new comments as unsupported
  extradoc/docs/comment-anchoring-limitation.md
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments_converter.py
  extradoc/src/extradoc/transport.py
  extradoc/src/extradoc/types.py
  extradoc/src/extradoc/xml_converter.py
  extradoc/tests/test_comments_converter.py
  extradoc/tests/test_types.py
  server/skills/extradoc/SKILL.md
Due: mypy-extradoc

Clean up dead code and add comments.xml to SKILL.md directory listing
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments_converter.py
  extradoc/tests/test_comments_converter.py
  server/skills/extradoc/SKILL.md
Due: mypy-extradoc

Release extradoc v0.2.2
  extradoc/CHANGELOG.md
  extradoc/pyproject.toml
Due: none

Release extrasuite v0.5.3
  client/CHANGELOG.md
  client/pyproject.toml
  client/uv.lock
Due: none

Add comprehensive mock Google Docs API implementation
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_mock_api.py
  extradoc/uv.lock
Due: mypy-extradoc

Add comprehensive mock Google Docs API implementation (#11)
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_mock_api.py
  extradoc/uv.lock
Due: mypy-extradoc

Expand Google Docs mock API with 24 additional request types
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_engine.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Expand Google Docs mock API with 24 additional request types (#12)
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_engine.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Add comprehensive edge case validations to Google Docs mock API
  extradoc/EDGE_CASE_ANALYSIS.md
  extradoc/IMPLEMENTATION_PLAN.md
  extradoc/pyproject.toml
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Add 20 real-world Google Docs API edge case tests and validations
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Add comprehensive test coverage summary documentation
  extradoc/TEST_COVERAGE_SUMMARY.md
Due: none

Implement batch update document structure modification and comprehensive testing
  extradoc/pyproject.toml
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/BATCH_UPDATE_TESTING_SUMMARY.md
  extradoc/tests/test_batch_update_document_structure.py
  extradoc/tests/test_batch_update_responses.md
  extradoc/tests/test_mock_api.py
  extradoc/uv.lock
Due: mypy-extradoc

Fix newline handling to properly create multiple paragraphs - 100% test pass rate
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_batch_update_document_structure.py
Due: mypy-extradoc

Add comprehensive tests for complex batch updates with sequential index tracking
  extradoc/tests/test_batch_update_document_structure.py
Due: mypy-extradoc

Add recording mode infrastructure for mock API validation
  extradoc/scripts/README.md
  extradoc/scripts/record_scenario.py
  extradoc/scripts/scenarios/01_simple_text.sh
  extradoc/scripts/scenarios/02_headings.sh
  extradoc/scripts/scenarios/03_lists.sh
  extradoc/scripts/scenarios/04_tables.sh
  extradoc/scripts/scenarios/README.md
  extradoc/src/extradoc/composite_transport.py
  extradoc/tests/test_composite_transport.py
Due: mypy-extradoc

Fix recording script and implement mock API style mutations
  extradoc/scripts/record_scenario.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock_api.py
Due: mypy-extradoc

Improve mock API fidelity: text run splitting, bullets, heading IDs, link styling
  extradoc/scripts/test_mock_scenarios.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock_api.py
Due: mypy-extradoc

Fix mock API: paragraph splitting, merging, and delete operations
  extradoc/src/extradoc/mock_api.py
Due: mypy-extradoc

Add text run consolidation, delete scenarios, header/footer support
  extradoc/scripts/test_mock_scenarios.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock_api.py
Due: mypy-extradoc

Fix delete: paragraph merge on \n removal + selective run consolidation
  extradoc/src/extradoc/mock_api.py
Due: mypy-extradoc

Add 29 mock API test scenarios + implement table/tab mock handlers
  extradoc/scripts/test_mock_scenarios.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Improve mock API fidelity: table shifts, bullet/tab/link fixes
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_batch_update_document_structure.py
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Refactor mock_api.py into mock/ package with centralized reindex+normalize
  extradoc/pyproject.toml
  extradoc/src/extradoc/mock/__init__.py
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/mock/bullet_ops.py
  extradoc/src/extradoc/mock/exceptions.py
  extradoc/src/extradoc/mock/named_range_ops.py
  extradoc/src/extradoc/mock/navigation.py
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/mock/segment_ops.py
  extradoc/src/extradoc/mock/stubs.py
  extradoc/src/extradoc/mock/style_ops.py
  extradoc/src/extradoc/mock/table_ops.py
  extradoc/src/extradoc/mock/text_ops.py
  extradoc/src/extradoc/mock/utils.py
  extradoc/src/extradoc/mock/validation.py
  extradoc/src/extradoc/mock_api.py
  extradoc/tests/test_batch_update_document_structure.py
Due: mypy-extradoc

Add CLAUDE.md for mock Google Docs API package
  extradoc/src/extradoc/mock/CLAUDE.md
Due: none

Fix mock API: sectionBreak startIndex, bullet textStyle, table cell styles
  extradoc/src/extradoc/mock/bullet_ops.py
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/mock/table_ops.py
  extradoc/src/extradoc/mock/utils.py
Due: mypy-extradoc
