Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

Release extradoc v0.4.0
  extradoc/CHANGELOG.md
  extradoc/pyproject.toml
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_reconcile.py
  extradoc/uv.lock
Due: mypy-extradoc

Release extrasheet v0.3.0, extraslide v0.2.2, extraform v0.3.0
  extraform/CHANGELOG.md
  extraform/pyproject.toml
  extraform/uv.lock
  extrasheet/CHANGELOG.md
  extrasheet/pyproject.toml
  extrasheet/uv.lock
  extraslide/CHANGELOG.md
  extraslide/pyproject.toml
  extraslide/uv.lock
Due: none

Fix ruff formatting in extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/__init__.py
Due: mypy-extradoc

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .gitignore
  AGENTS.md
Due: none

bd: backup 2026-03-05 06:19
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-03-05 06:36
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

bd: backup 2026-03-05 06:53
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

Release extrasuite v0.8.0
  client/pyproject.toml
Due: none

Add bidirectional markdown serde format to extradoc
  extradoc/pyproject.toml
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_to_markdown.py
  extradoc/tests/test_serde_markdown.py
  extradoc/uv.lock
Due: mypy-extradoc

bd: backup 2026-03-05 07:53
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-03-05 14:58
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

Fix markdown serde round-trip issues: link underline, heading-to-bullet, tab IDs
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/doc.py
  client/uv.lock
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_to_markdown.py
Due: mypy-extradoc

Improving README
  README.md
Due: none

Deleting Agents.md
  AGENTS.md
Due: none

Clean up extradoc docs and stale test assets
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/pull.md
  extradoc/CLAUDE.md
  extradoc/EDGE_CASE_ANALYSIS.md
  extradoc/IMPLEMENTATION_PLAN.md
  extradoc/README.md
  extradoc/TEST_COVERAGE_SUMMARY.md
  extradoc/docs/on-disk-format.md
  extradoc/pyproject.toml
  extradoc/scripts/README.md
  extradoc/scripts/record_scenario.py
  extradoc/scripts/scenarios/01_simple_text.sh
  extradoc/scripts/scenarios/02_headings.sh
  extradoc/scripts/scenarios/03_lists.sh
  extradoc/scripts/scenarios/04_tables.sh
  extradoc/scripts/scenarios/README.md
  extradoc/scripts/test_mock_scenarios.py
  extradoc/src/extradoc/mock/CLAUDE.md
  extradoc/src/extradoc/mock/api.py
  extradoc/tests/BATCH_UPDATE_TESTING_SUMMARY.md
  extradoc/tests/test_batch_update_responses.md
  extradoc/tests/test_mock_api.py
Due: mypy-extradoc

Remove deprecated v1 auth flow
  client/CHANGELOG.md
  client/CLAUDE.md
  client/README.md
  client/src/extrasuite/client/cli/auth.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  server/CLAUDE.md
  server/README.md
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/command_registry.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/main.py
  server/src/extrasuite/server/token_generator.py
  server/tests/fakes.py
  server/tests/test_v2_api.py
  server/tests/test_v2_session.py
  website/docs/api/auth-spec.md
  website/docs/api/index.md
  website/docs/deployment/cloud-run.md
  website/docs/deployment/iam-permissions.md
  website/docs/deployment/operations.md
  website/docs/faq.md
  website/docs/security.md
Due: pyright

Remove auth guidance from extra packages
  extradoc/docs/googledocs/batch.md
  extradoc/docs/googledocs/merge.md
  extraform/CLAUDE.md
  extraform/README.md
  extraform/docs/architecture.md
  extrasheet/CLAUDE.md
  extraslide/CLAUDE.md
  extraslide/README.md
  extraslide/docs/googleslides/guides/merge.md
Due: none

Add xpath metadata to index headings
  extradoc/docs/on-disk-format.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/dtd/index.dtd
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Document xpath-first doc editing workflow
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/pull.md
Due: none

Add section summary heuristics design
  extradoc/docs/index-summary-heuristics.md
Due: none

Add adaptive index sizing design
  extradoc/docs/adaptive-indexing-strategy.md
Due: none

docs: refresh extrasheet and sheet help
  client/src/extrasuite/client/help/sheet/README.md
  client/src/extrasuite/client/help/sheet/comments-reference.md
  client/src/extrasuite/client/help/sheet/features-reference.md
  client/src/extrasuite/client/help/sheet/format-reference.md
  client/src/extrasuite/client/help/sheet/pull.md
  client/src/extrasuite/client/help/sheet/push.md
  extrasheet/CLAUDE.md
  extrasheet/README.md
  extrasheet/docs/architecture.md
  extrasheet/docs/diff-push-spec.md
  extrasheet/docs/gaps.md
  extrasheet/docs/on-disk-format.md
Due: none

Trim doc agent guidance
  client/src/extrasuite/client/help/doc/README.md
Due: none

Trim duplicated doc navigation hints
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/pull.md
Due: none

fix: use --project instead of --directory in dev wrapper
  extrasuite
Due: none

feat: keyring-based session storage with multi-profile support
  client/pyproject.toml
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/auth.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  client/uv.lock
  website/docs/api/auth-spec.md
  website/docs/faq.md
  website/docs/security.md
  website/docs/user-guide/revoking-access.md
Due: none

Add GCP Marketplace deployment report for ExtraSuite server
  server/GCP_MARKETPLACE_DEPLOYMENT.md
Due: none

fix: headless auth shows code on page instead of redirecting to localhost
  client/src/extrasuite/client/credentials.py
  server/src/extrasuite/server/api.py
Due: pyright

fix: correct stale docs and wrong keyring install hint
  client/CLAUDE.md
  client/src/extrasuite/client/credentials.py
Due: none

docs: reduce help duplication and make pull/push command files self-contained
  client/src/extrasuite/client/help/README.md
  client/src/extrasuite/client/help/contacts/README.md
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/pull.md
  client/src/extrasuite/client/help/form/README.md
  client/src/extrasuite/client/help/form/pull.md
  client/src/extrasuite/client/help/gmail/README.md
  client/src/extrasuite/client/help/script/README.md
  client/src/extrasuite/client/help/sheet/README.md
  client/src/extrasuite/client/help/sheet/pull.md
  client/src/extrasuite/client/help/slide/README.md
  client/src/extrasuite/client/help/slide/pull.md
Due: none

feat: add server-side OAuth as alternative to DWD
  server/.env.template
  server/pyproject.toml
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/credential_provider.py
  server/src/extrasuite/server/credential_router.py
  server/src/extrasuite/server/crypto.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/main.py
  server/src/extrasuite/server/token_generator.py
  server/tests/conftest.py
  server/tests/fakes.py
  server/tests/test_credential_provider.py
  server/tests/test_credential_router.py
  server/tests/test_crypto.py
  server/tests/test_oauth_token.py
  server/tests/test_v2_api.py
  server/uv.lock
Due: pyright

fix: address code review issues in OAuth credential mode
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/credential_provider.py
  server/src/extrasuite/server/credential_router.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/main.py
  server/src/extrasuite/server/token_generator.py
  server/tests/fakes.py
  server/tests/test_credential_provider.py
  server/tests/test_credential_router.py
  server/tests/test_oauth_integration.py
  server/tests/test_oauth_token.py
  server/tests/test_v2_api.py
Due: pyright

fix: address security and operational review issues
  server/.env.template
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/credential_provider.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/firestore_setup.py
  server/src/extrasuite/server/main.py
  server/src/extrasuite/server/token_generator.py
  server/tests/conftest.py
  server/tests/fakes.py
Due: pyright

bd: backup 2026-03-09 15:24
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: security review fixes and documentation for OAuth credential mode
  README.md
  server/.env.template
  server/CLAUDE.md
  server/README.md
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/credential_router.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/token_generator.py
  server/tests/test_credential_router.py
  website/docs/api/auth-spec.md
  website/docs/deployment/index.md
  website/docs/security.md
Due: pyright

docs: update deployment guides for OAuth credential mode
  website/docs/deployment/cloud-run.md
  website/docs/deployment/operations.md
Due: none
