Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

Fix: handle DEFAULT headers/footers correctly in multi-tab reconcile
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix: exclude headingId from updateParagraphStyle and fix createHeader/Footer
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Fix serde style factorization and reconciler table+style bug
  extradoc/CLAUDE.md
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/CLAUDE.md
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

docs: update reconcile status — Phase 6 bug fix and serde fixes
  extradoc/docs/reconcile-plan.md
  extradoc/docs/reconciliation-gaps.md
Due: none

Fix B2: walk all base intervals when desired run spans multiple base runs
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix reconciler: generate style requests for ADDED paragraphs (Phase 6)
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Fix reconciler: redesign as right-to-left pass, fix table/bullet bugs
  extradoc/docs/extradoc-diff-specification.md
  extradoc/docs/extradoc-spec.md
  extradoc/docs/fixed-reconciliation-bugs.md
  extradoc/docs/gaps.md
  extradoc/docs/reconcile-plan.md
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/transport.py
Due: mypy-extradoc

Fix B4: delete spurious empty paragraph after insertTable in inner gaps
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix reconciler: recursive cell reconciliation + Full Structure reindexing
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

docs: update on-disk-format spec with list authoring and new tab guide
  extradoc/docs/on-disk-format.md
Due: none

Remove legacy pipeline: 23 dead source files, 15 orphaned tests
  extradoc/src/extradoc/aligner.py
  extradoc/src/extradoc/block_indexer.py
  extradoc/src/extradoc/comments_converter.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/desugar.py
  extradoc/src/extradoc/differ.py
  extradoc/src/extradoc/engine.py
  extradoc/src/extradoc/generators/__init__.py
  extradoc/src/extradoc/generators/content.py
  extradoc/src/extradoc/generators/structural.py
  extradoc/src/extradoc/generators/table.py
  extradoc/src/extradoc/parser.py
  extradoc/src/extradoc/push.py
  extradoc/src/extradoc/request_generators/__init__.py
  extradoc/src/extradoc/request_generators/structural.py
  extradoc/src/extradoc/request_generators/table.py
  extradoc/src/extradoc/style_converter.py
  extradoc/src/extradoc/style_factorizer.py
  extradoc/src/extradoc/style_hash.py
  extradoc/src/extradoc/test_cli.py
  extradoc/src/extradoc/types.py
  extradoc/src/extradoc/walker.py
  extradoc/src/extradoc/xml_converter.py
  extradoc/tests/test_aligner.py
  extradoc/tests/test_block_indexer.py
  extradoc/tests/test_comment_ref_injection.py
  extradoc/tests/test_comments_converter.py
  extradoc/tests/test_composite_transport.py
  extradoc/tests/test_content_generator.py
  extradoc/tests/test_date_element.py
  extradoc/tests/test_differ.py
  extradoc/tests/test_engine.py
  extradoc/tests/test_paragraph_style_reconciliation.py
  extradoc/tests/test_parser.py
  extradoc/tests/test_structural_generator.py
  extradoc/tests/test_table_generator.py
  extradoc/tests/test_types.py
  extradoc/tests/test_walker.py
Due: mypy-extradoc

Fix reconciler: explicit <p/> after tables + two more slot bugs
  client/pyproject.toml
  client/uv.lock
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Replace flat scope field with typed Command discriminated union
  client/src/extrasuite/client/__init__.py
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/calendar.py
  client/src/extrasuite/client/cli/contacts.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/cli/drive.py
  client/src/extrasuite/client/cli/form.py
  client/src/extrasuite/client/cli/gmail.py
  client/src/extrasuite/client/cli/script.py
  client/src/extrasuite/client/cli/sheet.py
  client/src/extrasuite/client/cli/slide.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/command_registry.py
  server/src/extrasuite/server/commands.py
  server/src/extrasuite/server/database.py
  server/tests/fakes.py
  server/tests/test_v2_api.py
  server/tests/test_v2_session.py
Due: pyright

Fix command registry: remove duplicate, improve test coverage, harden error handling
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/commands.py
  server/tests/fakes.py
  server/tests/test_v2_api.py
  server/tests/test_v2_session.py
Due: pyright

Harden database, error messages, and admin email documentation
  client/src/extrasuite/client/credentials.py
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
Due: pyright

Update documentation for typed Command protocol
  client/CLAUDE.md
  server/CLAUDE.md
  website/docs/api/auth-spec.md
  website/docs/security.md
Due: none

Fix _diff_table_structural: emit content updates before column structural ops
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Update resume test document: Priya Nair, Python & Cloud Engineer
  client/18gIqGX9CpduOFlSJP8w6GrXWfcknApiYhDlA-DkAhxo/Tab_1/document.xml
Due: none

Fix serde parser: mixed <t> content, <a> in <t>, plain-text <a href> (BUG-5/6/10)
  client/EXTRADOC_BUGS.md
  client/src/extrasuite/client/help/doc/README.md
  extradoc/src/extradoc/serde/_models.py
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Fix BUG-4, BUG-7; document BUG-8 API limitation
  client/EXTRADOC_BUGS.md
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/__init__.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix BUG-3: implement insertPageBreak for <pagebreak/> insertion
  client/EXTRADOC_BUGS.md
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/mock/text_ops.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix new-tab heading bug, list types, and doc inline style cleanup
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/style-reference.md
  extradoc/docs/on-disk-format.md
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Document typed Command protocol: scopes, auth spec, database hardening
  CLAUDE.md
  server/.env.template
  server/CLAUDE.md
  server/src/extrasuite/server/database.py
  website/docs/api/auth-spec.md
Due: pyright

Rewrite marketing page with clearer positioning and narrative
  website/docs/index.html
Due: none

Fix mobile responsiveness of marketing page
  website/docs/index.html
Due: none

Update docs to reflect v2 typed command protocol
  README.md
  website/docs/index.html
  website/docs/security.md
Due: none

Fix two reconciler bugs: preserve heading style and table reindex after move
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs.json
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs_comments.json
  extradoc/tests/test_reconcile.py
  extradoc/uv.lock
Due: mypy-extradoc

doc: add tabs, headers, footers to CLI help; document heading-after-list pitfall
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/troubleshooting.md
Due: none

Fix serde: support type=bullet/decimal on li and bare b/i inline tags
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
Due: mypy-extradoc

Fix serde tab index roundtrip, add default style promotion, fix multi-tab mock validation
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/mock/text_ops.py
  extradoc/src/extradoc/mock/validation.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_to_xml.py
Due: mypy-extradoc

Implement client migration: serde+reconcile pipeline with comments package
  extradoc/pyproject.toml
  extradoc/src/extradoc/__init__.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments/__init__.py
  extradoc/src/extradoc/comments/_diff.py
  extradoc/src/extradoc/comments/_from_raw.py
  extradoc/src/extradoc/comments/_inject.py
  extradoc/src/extradoc/comments/_snap.py
  extradoc/src/extradoc/comments/_types.py
  extradoc/src/extradoc/comments/_xml.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/test_cli.py
  extradoc/src/extradoc/transport.py
  extradoc/tests/test_serde.py
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Add soft line break support and second golden file for serde round-trip
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/golden/1YicNYwId9u4okuK4uNfWdTEuKyS1QWb1RcnZl9eVyTc.json
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Fix five issues in reconcile module (Issues 14-18)
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Implement Phase 7: fix bullet nesting, table cell styles, and link styles
  extradoc/src/extradoc/mock/navigation.py
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Full round-trip fidelity for serde (Document ↔ XML)
  extradoc/CLAUDE.md
  extradoc/docs/fixed-reconciliation-bugs.md
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/serde/CLAUDE.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_tab_extras.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_serde.py
Due: mypy-extradoc
