Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

docs: rewrite deployment guide with credential mode decision matrix
  website/docs/deployment/cloud-run.md
  website/docs/deployment/iam-permissions.md
  website/docs/deployment/index.md
Due: none

Fix push-md: use raw JSON as base for accurate deleteContentRange indices
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_special_elements.py
  extradoc/src/extradoc/serde/_to_markdown.py
  extradoc/tests/test_serde_markdown.py
Due: mypy-extradoc

test: add end-to-end test suite with fake test doubles
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/credential_provider.py
  server/src/extrasuite/server/credential_router.py
  server/tests/conftest.py
  server/tests/fakes.py
  server/tests/test_credential_provider.py
  server/tests/test_e2e.py
Due: pyright

docs: update deployment and API docs for OAuth credential mode
  website/docs/api/auth-spec.md
  website/docs/deployment/cloud-run.md
  website/docs/deployment/iam-permissions.md
  website/docs/deployment/operations.md
Due: none

refactor: remove dead code and unused dependencies to reduce attack surface
  server/pyproject.toml
  server/src/extrasuite/server/command_registry.py
  server/src/extrasuite/server/commands.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/credential_provider.py
  server/src/extrasuite/server/credential_router.py
  server/src/extrasuite/server/main.py
  server/uv.lock
Due: pyright

Fix three reconciler bugs surfaced by push-md edit workflow
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Restructure pull-md output: flat tab files + index.md with line numbers
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/help/doc/pull-md.md
  client/src/extrasuite/client/help/doc/push-md.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/tests/test_serde_markdown.py
Due: mypy-extradoc

Fix spurious diffs in push-md workflow: vtab, run splitting, trailing para, cell colors
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_special_elements.py
  extradoc/src/extradoc/serde/_to_markdown.py
Due: mypy-extradoc

Fix push-md corruption near TOC: extend deletes and insert before TOC
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Fix push-md: strip empty paras from base, fix TOC handling, TITLE/SUBTITLE remap
  extradoc/docs/plan-named-ranges-serde.md
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/serde/_from_markdown.py
Due: mypy-extradoc

Fix push-md: bold whitespace round-trip and colored empty paragraph deletion
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_to_markdown.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

bd init: initialize beads issue tracking
  AGENTS.md
Due: none

bd: backup 2026-03-10 17:50
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

Fix links in callouts/blockquotes and add heading/bookmark link round-trip
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_special_elements.py
  extradoc/src/extradoc/serde/_to_markdown.py
  extradoc/src/extradoc/serde/_utils.py
Due: mypy-extradoc

Fix table-header regression: off-by-one in _style_reqs_for_added_paras
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

bd: backup 2026-03-10 18:33
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

Fix verify() run-consolidation false positives and missing blank line between lists
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/serde/_to_markdown.py
Due: mypy-extradoc

bd: backup 2026-03-10 19:11
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

bd: backup 2026-03-11 00:20
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

Fix push-md heading style, pre-table para stripping, and test harness
  extradoc/scripts/test_push_md.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/mock/named_range_ops.py
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/src/extradoc/serde/_from_markdown.py
Due: mypy-extradoc

Add create-md command, new-tab detection, and better markdown formatting
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/help/doc/create-md.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_markdown.py
  extradoc/src/extradoc/serde/_special_elements.py
  extradoc/tests/test_serde_markdown.py
Due: mypy-extradoc

Remove outdated skills docs and nav entries
  website/docs/skills/docs.md
  website/docs/skills/index.md
  website/docs/skills/sheets.md
  website/docs/skills/slides.md
  website/mkdocs.yml
Due: none

Remove doc create-md command
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/help/doc/create-md.md
Due: none

Simplify CLI: plural commands, intuitive pull dirs, auto-pull on create
  client/CLAUDE.md
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/cli/form.py
  client/src/extrasuite/client/cli/script.py
  client/src/extrasuite/client/cli/sheet.py
  client/src/extrasuite/client/cli/slide.py
  client/src/extrasuite/client/help/README.md
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/create.md
  client/src/extrasuite/client/help/doc/diff.md
  client/src/extrasuite/client/help/doc/pull-md.md
  client/src/extrasuite/client/help/doc/pull.md
  client/src/extrasuite/client/help/doc/push-md.md
  client/src/extrasuite/client/help/doc/push.md
  client/src/extrasuite/client/help/form/README.md
  client/src/extrasuite/client/help/form/create.md
  client/src/extrasuite/client/help/form/diff.md
  client/src/extrasuite/client/help/form/pull.md
  client/src/extrasuite/client/help/form/push.md
  client/src/extrasuite/client/help/script/pull.md
  client/src/extrasuite/client/help/sheet/README.md
  client/src/extrasuite/client/help/sheet/create.md
  client/src/extrasuite/client/help/sheet/diff.md
  client/src/extrasuite/client/help/sheet/pull.md
  client/src/extrasuite/client/help/sheet/push.md
  client/src/extrasuite/client/help/slide/README.md
  client/src/extrasuite/client/help/slide/create.md
  client/src/extrasuite/client/help/slide/diff.md
  client/src/extrasuite/client/help/slide/pull.md
  client/src/extrasuite/client/help/slide/push.md
Due: none

feat: add trust_all option to read email from any sender
  client/src/extrasuite/client/help/gmail/whitelist-setup.md
  client/src/extrasuite/client/settings.py
  client/tests/test_settings.py
Due: none

Release extrasheet v0.3.1
  extrasheet/CHANGELOG.md
  extrasheet/pyproject.toml
Due: none

Release extraslide v0.2.3
  extraslide/CHANGELOG.md
  extraslide/pyproject.toml
Due: none

Release extraform v0.3.1
  extraform/CHANGELOG.md
  extraform/pyproject.toml
Due: none

Release extradoc v0.4.1
  extradoc/CHANGELOG.md
  extradoc/pyproject.toml
Due: none

Release extrasuite v0.8.1
  client/CHANGELOG.md
  client/pyproject.toml
  client/uv.lock
Due: none

Fix markdown docs table reconcile errors
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
  extradoc/tests/test_serde_markdown.py
Due: mypy-extradoc

Add reconcile_v2 design docs and scaffolding
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/src/extradoc/reconcile_v2/__init__.py
  extradoc/src/extradoc/reconcile_v2/api.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/errors.py
  extradoc/src/extradoc/reconcile_v2/ir.py
  extradoc/src/extradoc/reconcile_v2/layout.py
  extradoc/src/extradoc/reconcile_v2/lower.py
  extradoc/src/extradoc/reconcile_v2/parse.py
  extradoc/src/extradoc/reconcile_v2/requests.py
  extradoc/src/extradoc/reconcile_v2/testing.py
  extradoc/tests/reconcile_v2/__init__.py
  extradoc/tests/reconcile_v2/helpers.py
Due: mypy-extradoc

Ratify semantic IR reconciler design
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
Due: none

Spike semantic IR confidence fixtures and diff
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/doc.py
  client/tests/test_cli_help.py
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/scripts/capture_reconcile_v2_fixtures.py
  extradoc/src/extradoc/reconcile_v2/__init__.py
  extradoc/src/extradoc/reconcile_v2/api.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/errors.py
  extradoc/src/extradoc/reconcile_v2/ir.py
  extradoc/src/extradoc/reconcile_v2/parse.py
  extradoc/src/extradoc/reconcile_v2/testing.py
  extradoc/tests/reconcile_v2/fixtures/list_append/base.md
  extradoc/tests/reconcile_v2/fixtures/list_append/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/list_append/desired.md
  extradoc/tests/reconcile_v2/fixtures/list_append/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/paragraph_to_heading/base.md
  extradoc/tests/reconcile_v2/fixtures/paragraph_to_heading/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/paragraph_to_heading/desired.md
  extradoc/tests/reconcile_v2/fixtures/paragraph_to_heading/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/section_split/base.md
  extradoc/tests/reconcile_v2/fixtures/section_split/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/section_split/desired.summary.txt
  extradoc/tests/reconcile_v2/test_diff_spike.py
  extradoc/tests/reconcile_v2/test_parse_ir.py
  extradoc/uv.lock
Due: mypy-extradoc

Spike canonicalize and replay semantic IR slice
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/src/extradoc/reconcile_v2/__init__.py
  extradoc/src/extradoc/reconcile_v2/api.py
  extradoc/src/extradoc/reconcile_v2/canonical.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/layout.py
  extradoc/src/extradoc/reconcile_v2/lower.py
  extradoc/src/extradoc/reconcile_v2/requests.py
  extradoc/tests/reconcile_v2/fixtures/list_kind_change/base.md
  extradoc/tests/reconcile_v2/fixtures/list_kind_change/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/list_kind_change/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/section_delete/base.md
  extradoc/tests/reconcile_v2/fixtures/section_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/section_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/test_canonical_and_lower_spike.py
  extradoc/tests/reconcile_v2/test_diff_spike.py
Due: mypy-extradoc

Spike replay text stories shared stories and named ranges
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/scripts/capture_reconcile_v2_fixtures.py
  extradoc/scripts/replay_reconcile_v2_fixtures.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/layout.py
  extradoc/src/extradoc/reconcile_v2/lower.py
  extradoc/src/extradoc/reconcile_v2/requests.py
  extradoc/tests/reconcile_v2/fixtures/header_text_replace/base.header.txt
  extradoc/tests/reconcile_v2/fixtures/header_text_replace/base.md
  extradoc/tests/reconcile_v2/fixtures/header_text_replace/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/header_text_replace/desired.header.txt
  extradoc/tests/reconcile_v2/fixtures/header_text_replace/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/named_range_add/base.md
  extradoc/tests/reconcile_v2/fixtures/named_range_add/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/named_range_add/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/paragraph_split/base.md
  extradoc/tests/reconcile_v2/fixtures/paragraph_split/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/paragraph_split/desired.md
  extradoc/tests/reconcile_v2/fixtures/paragraph_split/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_cell_text_replace/base.md
  extradoc/tests/reconcile_v2/fixtures/table_cell_text_replace/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_cell_text_replace/desired.md
  extradoc/tests/reconcile_v2/fixtures/table_cell_text_replace/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/text_replace/base.md
  extradoc/tests/reconcile_v2/fixtures/text_replace/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/text_replace/desired.md
  extradoc/tests/reconcile_v2/fixtures/text_replace/desired.summary.txt
  extradoc/tests/reconcile_v2/test_canonical_and_lower_spike.py
  extradoc/tests/reconcile_v2/test_diff_spike.py
Due: mypy-extradoc

Spike prove table structural edits in semantic IR
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/scripts/capture_reconcile_v2_fixtures.py
  extradoc/scripts/replay_reconcile_v2_fixtures.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/layout.py
  extradoc/src/extradoc/reconcile_v2/lower.py
  extradoc/src/extradoc/reconcile_v2/requests.py
  extradoc/tests/reconcile_v2/fixtures/table_column_delete/base.md
  extradoc/tests/reconcile_v2/fixtures/table_column_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_column_insert/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_merge_cells/base.md
  extradoc/tests/reconcile_v2/fixtures/table_merge_cells/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_merge_cells/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_delete/base.md
  extradoc/tests/reconcile_v2/fixtures/table_row_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_row_insert/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_unmerge_cells/base.md
  extradoc/tests/reconcile_v2/fixtures/table_unmerge_cells/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_unmerge_cells/desired.summary.txt
  extradoc/tests/reconcile_v2/test_canonical_and_lower_spike.py
  extradoc/tests/reconcile_v2/test_diff_spike.py
Due: mypy-extradoc

Spike de-risk table alignment and mixed edits
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/scripts/capture_reconcile_v2_fixtures.py
  extradoc/scripts/replay_reconcile_v2_fixtures.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/tests/reconcile_v2/fixtures/table_column_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_column_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_delete/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_delete/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_delete/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_delete/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_cell_edit/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_cell_edit/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_cell_edit/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_insert_below_merged/base.md
  extradoc/tests/reconcile_v2/fixtures/table_row_insert_below_merged/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_insert_below_merged/desired.summary.txt
  extradoc/tests/reconcile_v2/test_canonical_and_lower_spike.py
  extradoc/tests/reconcile_v2/test_diff_spike.py
Due: mypy-extradoc

Spike tighten table support boundary and property replay
  extradoc/docs/reconciler-semantic-ir-design.md
  extradoc/docs/reconciler-semantic-ir-edge-cases-to-test.md
  extradoc/docs/reconciler-semantic-ir-implementation-plan.md
  extradoc/scripts/capture_reconcile_v2_fixtures.py
  extradoc/scripts/replay_reconcile_v2_fixtures.py
  extradoc/src/extradoc/reconcile_v2/diff.py
  extradoc/src/extradoc/reconcile_v2/lower.py
  extradoc/src/extradoc/reconcile_v2/parse.py
  extradoc/src/extradoc/reconcile_v2/requests.py
  extradoc/tests/reconcile_v2/fixtures/table_cell_style_background/base.md
  extradoc/tests/reconcile_v2/fixtures/table_cell_style_background/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_cell_style_background/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_insert_through_merged/base.md
  extradoc/tests/reconcile_v2/fixtures/table_column_insert_through_merged/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_insert_through_merged/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_properties_width/base.md
  extradoc/tests/reconcile_v2/fixtures/table_column_properties_width/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_column_properties_width/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert_with_inserted_content/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert_with_inserted_content/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_column_insert_with_inserted_content/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_inserted_content/base.md
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_inserted_content/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_middle_row_insert_with_inserted_content/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_pin_header_rows/base.md
  extradoc/tests/reconcile_v2/fixtures/table_pin_header_rows/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_pin_header_rows/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_and_column_insert/base.md
  extradoc/tests/reconcile_v2/fixtures/table_row_and_column_insert/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_and_column_insert/desired.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_style_min_height/base.md
  extradoc/tests/reconcile_v2/fixtures/table_row_style_min_height/base.summary.txt
  extradoc/tests/reconcile_v2/fixtures/table_row_style_min_height/desired.summary.txt
  extradoc/tests/reconcile_v2/test_canonical_and_lower_spike.py
  extradoc/tests/reconcile_v2/test_diff_spike.py
Due: mypy-extradoc
