Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

Implement Phase 6: paragraph and text style reconciliation
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Refactor reconcile module: Segment dataclass + generator cleanup
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Add serde module: bi-directional Document <-> XML folder conversion
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/src/extradoc/serde/_utils.py
  extradoc/src/extradoc/serde/dtd/document.dtd
  extradoc/src/extradoc/serde/dtd/index.dtd
  extradoc/src/extradoc/serde/dtd/styles.dtd
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Populate body content when creating a new tab
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Rewrite CLAUDE.md docs for serde+reconcile pipeline, add on-disk format spec
  extradoc/CLAUDE.md
  extradoc/docs/extradoc-diff-specification.md
  extradoc/docs/extradoc-spec.md
  extradoc/docs/gaps.md
  extradoc/docs/on-disk-format.md
  extradoc/src/extradoc/mock/CLAUDE.md
  extradoc/src/extradoc/serde/CLAUDE.md
Due: none

Fix Issue 8: infer bullet preset from desired document's list definition
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix table row/column reorder silently skipped in reconcile
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Implement client migration: serde+reconcile pipeline with comments package
  extradoc/pyproject.toml
  extradoc/src/extradoc/__init__.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments/__init__.py
  extradoc/src/extradoc/comments/_diff.py
  extradoc/src/extradoc/comments/_from_raw.py
  extradoc/src/extradoc/comments/_inject.py
  extradoc/src/extradoc/comments/_snap.py
  extradoc/src/extradoc/comments/_types.py
  extradoc/src/extradoc/comments/_xml.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/test_cli.py
  extradoc/src/extradoc/transport.py
  extradoc/tests/test_serde.py
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Add revised client migration plan with comments and test CLI
  plans/client-migration.md
Due: none

Add soft line break support and second golden file for serde round-trip
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/golden/1YicNYwId9u4okuK4uNfWdTEuKyS1QWb1RcnZl9eVyTc.json
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Type MockGoogleDocsAPI public interface; add internal refactor plan
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_batch_update_document_structure.py
  extradoc/tests/test_composite_transport.py
  extradoc/tests/test_mock_api.py
  extradoc/tests/test_reconcile.py
  plans/type-mock-internals.md
Due: mypy-extradoc

WIP: Add e2e tests plan (not yet revised)
  plans/e2e-tests.md
Due: none

Fix five issues in reconcile module (Issues 14-18)
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Full round-trip fidelity for serde (Document ↔ XML)
  extradoc/CLAUDE.md
  extradoc/docs/fixed-reconciliation-bugs.md
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/serde/CLAUDE.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_tab_extras.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Fix serde round-trip issues and add golden file test
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_utils.py
  extradoc/tests/golden/14nMj7vggV3XR3WQtYcgrABRABjKk-fqw0UQUCP25rhQ.json
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Fix three code quality issues in reconcile module
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_exceptions.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Fix two code quality issues in reconcile module
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Refactor LCS alignment and remove dead code in reconcile
  extradoc/src/extradoc/reconcile/_alignment.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Add contacts command (sync, search, touch)
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/contacts.py
  client/src/extrasuite/client/help/gmail/README.md
Due: none

Fix two reconciler bugs: preserve heading style and table reindex after move
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs.json
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs_comments.json
  extradoc/tests/test_reconcile.py
  extradoc/uv.lock
Due: mypy-extradoc

Tighten SKILL.md and trim diff help to discourage overuse
  client/src/extrasuite/client/help/doc/diff.md
  client/src/extrasuite/client/help/form/diff.md
  client/src/extrasuite/client/help/script/diff.md
  client/src/extrasuite/client/help/sheet/diff.md
  client/src/extrasuite/client/help/slide/diff.md
  server/skills/extrasuite/SKILL.md
Due: none

doc: add tabs, headers, footers to CLI help; document heading-after-list pitfall
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/troubleshooting.md
Due: none

Release extrasuite v0.7.0
  client/CHANGELOG.md
  client/pyproject.toml
  client/uv.lock
Due: none

Fix cmd_doc_diff to use DiffResult API; document new tab authoring requirements
  client/src/extrasuite/client/cli.py
  extradoc/CLAUDE.md
  extrasheet/CLAUDE.md
  extraslide/CLAUDE.md
Due: none

Fix empty sheet folder creation and --no-limit range bug
  extrasheet/src/extrasheet/transformer.py
  extrasheet/src/extrasheet/transport.py
Due: none

Add Gmail attachment support and improve formatting help docs
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/google_api.py
  client/src/extrasuite/client/help/gmail/README.md
  client/src/extrasuite/client/help/gmail/compose.md
  client/src/extrasuite/client/help/gmail/edit-draft.md
Due: none

Update CLAUDE.md files and add local dev wrapper script
  CLAUDE.md
  extraform/CLAUDE.md
  extrasheet/CLAUDE.md
  extrasheet/uv.lock
  extraslide/CLAUDE.md
  extrasuite
Due: none

Trim gmail help docs for conciseness
  client/src/extrasuite/client/help/gmail/README.md
  client/src/extrasuite/client/help/gmail/compose.md
  client/src/extrasuite/client/help/gmail/edit-draft.md
Due: none

Rewrite extraform push engine with DAG-based batching and post-push sync
  client/src/extrasuite/client/help/form/README.md
  client/src/extrasuite/client/help/form/branching.md
  client/src/extrasuite/client/help/form/push.md
  client/src/extrasuite/client/help/form/question-types.md
  extraform/CLAUDE.md
  extraform/pyproject.toml
  extraform/src/extraform/__init__.py
  extraform/src/extraform/client.py
  extraform/src/extraform/diff.py
  extraform/src/extraform/file_reader.py
  extraform/src/extraform/request_generator.py
  extraform/src/extraform/transport.py
  extraform/src/extraform/writer.py
  extraform/tests/golden/conditional_form/form.json
  extraform/tests/test_integration.py
  extraform/uv.lock
Due: none

Add full calendar management commands
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/google_api.py
  client/src/extrasuite/client/help/calendar/README.md
  client/src/extrasuite/client/help/calendar/create.md
  client/src/extrasuite/client/help/calendar/delete.md
  client/src/extrasuite/client/help/calendar/freebusy.md
  client/src/extrasuite/client/help/calendar/list.md
  client/src/extrasuite/client/help/calendar/rsvp.md
  client/src/extrasuite/client/help/calendar/search.md
  client/src/extrasuite/client/help/calendar/update.md
  client/src/extrasuite/client/help/calendar/view.md
  client/uv.lock
Due: none

Reduce CLI verbosity for pull/push commands
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
Due: none

Add comments workflow for extrasheet (pull/diff/push)
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/help/sheet/README.md
  client/src/extrasuite/client/help/sheet/comments-reference.md
  client/src/extrasuite/client/help/sheet/pull.md
  client/src/extrasuite/client/help/sheet/push.md
  extrasheet/src/extrasheet/client.py
  extrasheet/src/extrasheet/comments.py
  extrasheet/src/extrasheet/transport.py
  extrasheet/tests/test_comments.py
Due: none

Implement v2 session-token auth protocol (30-day session + headless)
  client/CHANGELOG.md
  client/CLAUDE.md
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  server/.env.template
  server/CLAUDE.md
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/config.py
  server/src/extrasuite/server/database.py
  website/docs/api/auth-spec.md
Due: pyright

Add Gmail read workflow (list/read/reply) with sender whitelist
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/gmail_reader.py
  client/src/extrasuite/client/google_api.py
  client/src/extrasuite/client/help/gmail/list.md
  client/src/extrasuite/client/help/gmail/read.md
  client/src/extrasuite/client/help/gmail/reply.md
  client/src/extrasuite/client/help/gmail/whitelist-setup.md
  client/tests/test_gmail_reader.py
Due: none

Fix production issues in v2 session-token auth protocol
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  server/src/extrasuite/server/api.py
Due: pyright

Fix three bugs found in code review of v2 auth protocol
  client/src/extrasuite/client/credentials.py
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
Due: pyright

Fix code review issues in v2 auth protocol
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
  server/tests/fakes.py
  server/tests/test_v2_session.py
Due: pyright

Clean up v2 auth: rename scope, fix DWD scope set, remove fallbacks
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  client/tests/test_credentials.py
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/token_generator.py
  server/tests/fakes.py
  server/tests/test_token_generator.py
  server/tests/test_v2_session.py
Due: pyright

Fix 13 security and correctness issues in v2 auth protocol
  CLAUDE.md
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
  server/CLAUDE.md
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
  server/src/extrasuite/server/token_generator.py
  server/tests/fakes.py
Due: pyright

Fix 5 code review issues and add 38 FastAPI endpoint tests for v2 auth
  client/src/extrasuite/client/credentials.py
  server/.env.template
  server/pyproject.toml
  server/src/extrasuite/server/token_generator.py
  server/tests/conftest.py
  server/tests/fakes.py
  server/tests/test_token_generator.py
  server/tests/test_v2_api.py
  server/uv.lock
Due: pyright
