Repository think41/extrasuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, mypy-extradoc, mypy-extrascripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(server|client|extraslide|extradoc|extrascripts)/
      - id: ruff-format
        files: ^(server|client|extraslide|extradoc|extrascripts)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd server && uv run pyright'
        language: system
        types: [python]
        files: ^server/
        pass_filenames: false
      - id: mypy
        name: mypy (extraslide)
        entry: bash -c 'cd extraslide && uv run mypy src/extraslide'
        language: system
        types: [python]
        files: ^extraslide/
        pass_filenames: false
      - id: mypy-extradoc
        name: mypy (extradoc)
        entry: bash -c 'cd extradoc && uv run mypy src/extradoc'
        language: system
        types: [python]
        files: ^extradoc/
        pass_filenames: false
      - id: mypy-extrascripts
        name: mypy (extrascripts)
        entry: bash -c 'cd extrascripts && uv run mypy src/extrascripts'
        language: system
        types: [python]
        files: ^extrascripts/
        pass_filenames: false

Fix 4 minor issues from final review
  server/src/extrasuite/server/api.py
  server/src/extrasuite/server/database.py
  server/tests/fakes.py
  website/docs/deployment/operations.md
Due: pyright

Fix v1 regression in create command and docstring typo
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/credentials.py
Due: none

Introduce settings.toml + TrustedContacts, modularise CLI
  client/pyproject.toml
  client/src/extrasuite/client/cli.py
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/auth.py
  client/src/extrasuite/client/cli/calendar.py
  client/src/extrasuite/client/cli/contacts.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/cli/drive.py
  client/src/extrasuite/client/cli/form.py
  client/src/extrasuite/client/cli/gmail.py
  client/src/extrasuite/client/cli/script.py
  client/src/extrasuite/client/cli/sheet.py
  client/src/extrasuite/client/cli/slide.py
  client/src/extrasuite/client/gmail_reader.py
  client/src/extrasuite/client/settings.py
  client/tests/test_gmail_reader.py
  client/tests/test_settings.py
  client/uv.lock
Due: none

Fix contacts sync for v2 auth: split multi-scope into per-scope token calls
  client/src/extrasuite/client/cli/contacts.py
  client/src/extrasuite/client/contacts.py
Due: none

Add drive ls/search, file sharing, and create --copy-from
  client/src/extrasuite/client/cli/__init__.py
  client/src/extrasuite/client/cli/_common.py
  client/src/extrasuite/client/cli/doc.py
  client/src/extrasuite/client/cli/drive.py
  client/src/extrasuite/client/cli/form.py
  client/src/extrasuite/client/cli/script.py
  client/src/extrasuite/client/cli/sheet.py
  client/src/extrasuite/client/cli/slide.py
  client/src/extrasuite/client/google_api.py
  client/src/extrasuite/client/help/drive/README.md
  client/src/extrasuite/client/help/drive/ls.md
  client/src/extrasuite/client/help/drive/search.md
  client/src/extrasuite/client/help/sheet/share.md
  client/tests/test_drive.py
  server/src/extrasuite/server/api.py
Due: pyright

Rewrite README for technical audience evaluating AI + Google Workspace security
  README.md
Due: none

Add cross-references from CLI reference tables to help files
  README.md
Due: none

Implement Phase 3: Multi-segment support (headers, footers)
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/mock/segment_ops.py
  extradoc/src/extradoc/mock/text_ops.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_mock_api.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix Issue 8: infer bullet preset from desired document's list definition
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix serde tab index roundtrip, add default style promotion, fix multi-tab mock validation
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/mock/text_ops.py
  extradoc/src/extradoc/mock/validation.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_to_xml.py
Due: mypy-extradoc

doc: add tabs, headers, footers to CLI help; document heading-after-list pitfall
  client/src/extrasuite/client/help/doc/README.md
  client/src/extrasuite/client/help/doc/troubleshooting.md
Due: none

Implement client migration: serde+reconcile pipeline with comments package
  extradoc/pyproject.toml
  extradoc/src/extradoc/__init__.py
  extradoc/src/extradoc/client.py
  extradoc/src/extradoc/comments/__init__.py
  extradoc/src/extradoc/comments/_diff.py
  extradoc/src/extradoc/comments/_from_raw.py
  extradoc/src/extradoc/comments/_inject.py
  extradoc/src/extradoc/comments/_snap.py
  extradoc/src/extradoc/comments/_types.py
  extradoc/src/extradoc/comments/_xml.py
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/test_cli.py
  extradoc/src/extradoc/transport.py
  extradoc/tests/test_serde.py
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Fix two code quality issues in reconcile module
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Refactor LCS alignment and remove dead code in reconcile
  extradoc/src/extradoc/reconcile/_alignment.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Full round-trip fidelity for serde (Document ↔ XML)
  extradoc/CLAUDE.md
  extradoc/docs/fixed-reconciliation-bugs.md
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/serde/CLAUDE.md
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_tab_extras.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Add revised client migration plan with comments and test CLI
  plans/client-migration.md
Due: none

Redesign serde sugar tags, fix bugs, and expand test coverage
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/src/extradoc/serde/dtd/document.dtd
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Type MockGoogleDocsAPI public interface; add internal refactor plan
  extradoc/src/extradoc/composite_transport.py
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_batch_update_document_structure.py
  extradoc/tests/test_composite_transport.py
  extradoc/tests/test_mock_api.py
  extradoc/tests/test_reconcile.py
  plans/type-mock-internals.md
Due: mypy-extradoc

Implement Phase 7: TOC validation, section break errors, special element safety, UTF-16 tests
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Rewrite CLAUDE.md docs for serde+reconcile pipeline, add on-disk format spec
  extradoc/CLAUDE.md
  extradoc/docs/extradoc-diff-specification.md
  extradoc/docs/extradoc-spec.md
  extradoc/docs/gaps.md
  extradoc/docs/on-disk-format.md
  extradoc/src/extradoc/mock/CLAUDE.md
  extradoc/src/extradoc/serde/CLAUDE.md
Due: none

Implement Phase 7: fix bullet nesting, table cell styles, and link styles
  extradoc/src/extradoc/mock/navigation.py
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix three code quality issues in reconcile module
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_exceptions.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Fix five issues in reconcile module (Issues 14-18)
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

WIP: Add e2e tests plan (not yet revised)
  plans/e2e-tests.md
Due: none

Refactor reconcile module: Segment dataclass + generator cleanup
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
Due: mypy-extradoc

Add reconcile module Phase 1: paragraph text diffing
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_alignment.py
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Implement Phase 6: paragraph and text style reconciliation
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Add serde module: bi-directional Document <-> XML folder conversion
  extradoc/src/extradoc/serde/__init__.py
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_index.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_styles.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/src/extradoc/serde/_utils.py
  extradoc/src/extradoc/serde/dtd/document.dtd
  extradoc/src/extradoc/serde/dtd/index.dtd
  extradoc/src/extradoc/serde/dtd/styles.dtd
  extradoc/tests/test_serde.py
Due: mypy-extradoc

Fix table row/column reorder silently skipped in reconcile
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Populate body content when creating a new tab
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Implement multi-batch reconciliation with DeferredID for content population
  extradoc/docs/reconcile-plan.md
  extradoc/scripts/generate_api_types.py
  extradoc/src/extradoc/api_types/__init__.py
  extradoc/src/extradoc/api_types/_generated.py
  extradoc/src/extradoc/reconcile/__init__.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix serde round-trip issues and add golden file test
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_utils.py
  extradoc/tests/golden/14nMj7vggV3XR3WQtYcgrABRABjKk-fqw0UQUCP25rhQ.json
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Implement Phase 4: Multi-tab support for reconcile module
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/mock/api.py
  extradoc/src/extradoc/mock/segment_ops.py
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix DeferredID request_index bug and eliminate globals in reconcile
  extradoc/src/extradoc/reconcile/_core.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Implement Phase 2: Proper row/column operations for table diff
  extradoc/docs/reconcile-plan.md
  extradoc/src/extradoc/reconcile/_alignment.py
  extradoc/src/extradoc/reconcile/_comparators.py
  extradoc/src/extradoc/reconcile/_extractors.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Add soft line break support and second golden file for serde round-trip
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
  extradoc/src/extradoc/serde/_to_xml.py
  extradoc/tests/golden/1YicNYwId9u4okuK4uNfWdTEuKyS1QWb1RcnZl9eVyTc.json
  extradoc/tests/test_serde_golden.py
Due: mypy-extradoc

Fix two reconciler bugs: preserve heading style and table reindex after move
  extradoc/src/extradoc/mock/reindex.py
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs.json
  extradoc/tests/golden/15dNMijQYl3juFdu8LqLvJoh3K10DREbtUm82489hgAs_comments.json
  extradoc/tests/test_reconcile.py
  extradoc/uv.lock
Due: mypy-extradoc

Fix: batch consecutive added list items into one createParagraphBullets
  extradoc/docs/reconciliation-gaps.md
  extradoc/src/extradoc/reconcile/_generators.py
  extradoc/tests/test_reconcile.py
Due: mypy-extradoc

Fix serde: support type=bullet/decimal on li and bare b/i inline tags
  extradoc/src/extradoc/serde/_from_xml.py
  extradoc/src/extradoc/serde/_models.py
Due: mypy-extradoc

Fix cmd_doc_diff to use DiffResult API; document new tab authoring requirements
  client/src/extrasuite/client/cli/doc.py
  extradoc/CLAUDE.md
Due: none
